@import url(https://fonts.googleapis.com/css?family=Yrsa);
/*===========================================================
                    Site Wide Styles
===========================================================*/
html,
body {
  background-color: #ffffff;
  font-family: 'Yrsa', serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
}
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
section {
  padding: 40px 0;
}
.sec-title {
  background-color: #0097e2;
  margin-bottom: 15px;
  padding: 30px 15px;
}
.sec-title h2.sec-title-con {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding-left: 15px;
  text-transform: uppercase;
}
/*===========================================================
                    Typograhpy Styles
===========================================================*/
.light-text {
  color: #8c8c8c;
}
/*===========================================================
            Header Styles (Will only display on mobile)
===========================================================*/
header.main-header {
  display: none;
}
header.main-header #sidebarCollapse {
  border: 2px solid rgba(52, 73, 94, 0.5);
  border-radius: 5px;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 3rem;
}
/*===========================================================
                    Sidebar Navigation Styles
===========================================================*/
#sidebar {
  background-color: #ffffff;
  color: #34495e;
  height: 100vh;
  left: 0;
  position: fixed;
  transition: all 0.5s;
  top: 0;
  width: 20%;
  z-index: 999;
}
#sidebar .sidebar-header {
  background-color: #ffffff;
  padding: 20px 10px;
}
#sidebar .sidebar-header img {
  display: block;
  height: 75px;
  margin: 5px auto;
  width: auto;
}
#sidebar .sidebar-header h4 {
  margin: 2.5px auto;
  text-align: center;
}
#sidebar ul {
  list-style-type: none;
  padding: 20px 10px;
}
#sidebar ul > li > a {
  color: #34495e;
  display: block;
  font-size: 1.3rem;
  padding: 10px;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
#sidebar ul > li > a:hover,
#sidebar ul > li > a:focus,
#sidebar ul > li > a.active {
  background-color: #fbfbfb;
  color: #0097e2;
  text-decoration: none;
  -webkit-transition: background-color 0.5s, font-weight 0.5s;
  transition: background-color 0.5s, font-weight 0.5s;
}
#sidebar ul > li.top {
  display: none;
}
/*===========================================================
                    Main area styles
===========================================================*/
#content {
  min-height: 100vh;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
  width: calc(80%);
}
#content.hidden {
  width: 0%;
}
/*===========================================================
                    Top Section Styles
===========================================================*/
#in-top {
  background: url('../img/bg/117.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 200px 0;
  text-align: center;
  width: 100%;
}
#in-top img {
  display: block;
  height: 200px;
  margin: 15px auto;
  width: auto;
}
#in-top h1 {
  font-size: 6.2rem;
  margin: 10px auto 0 auto;
}
/*===========================================================
                    About Section Styles
===========================================================*/
#about {
  padding: 0;
}
#about .about-inner {
  padding: 40px 0;
}
#about p {
  color: #737373;
}
/*===========================================================
                    Projects Section Styles
===========================================================*/
#projects .card {
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 151, 226, 0.75);
  -moz-box-shadow: 0px 5px 3px 0px rgba(0, 151, 226, 0.75);
  box-shadow: 0px 5px 3px 0px rgba(0, 151, 226, 0.75);
  margin-bottom: 20px;
  min-height: 400px;
}
#projects .card .card-header {
  border: 0;
  padding: 0;
}
#projects .card .card-header img {
  display: block;
  height: 190px;
  margin: 0 auto;
  width: 100%;
}
#projects .card .card-body {
  border: 0;
  min-height: 140px;
  padding: 0 15px;
}
#projects .card .card-body h2 {
  color: #0097e2;
  font-size: 1.8rem;
  margin: 5px auto;
  text-align: center;
}
#projects .card .card-body p {
  color: #808080;
  margin: 10px auto;
}
#projects .card .card-footer {
  border-top: 0;
  padding: 1rem;
  text-align: center;
}
#projects .card .card-footer .btn-group .btn {
  border-radius: 50%;
  margin-right: 10px;
  padding: .6rem 0.75rem;
}
#projects .card .card-footer .btn-group .btn i {
  font-size: 1.4rem;
}
/*===========================================================
                    GitHub Section Styles
===========================================================*/
#github {
  padding: 20px 0;
}
#github .card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 151, 226, 0.75);
  -moz-box-shadow: 0px 5px 3px 0px rgba(0, 151, 226, 0.75);
  box-shadow: 0px 5px 3px 0px rgba(0, 151, 226, 0.75);
  margin-bottom: 20px;
  min-height: 410px;
}
#github .card .card-header {
  background-color: #ffffff;
  text-align: center;
}
#github .card .card-header a h3 {
  color: #34495e;
  margin: 5px auto;
}
#github .card .card-header a:hover h3 {
  text-decoration: none;
}
#github .card .card-header ul {
  margin: 5px auto;
}
#github .card .card-header ul > li > i {
  color: #0097e2;
  font-size: 1.2rem;
}
#github .card .card-body {
  font-size: 1.3rem;
}
#github .card .card-footer {
  text-align: center;
}
#github .va-btn {
  margin: 10px auto;
}
/*===========================================================
                    Contact Section Styles
===========================================================*/
#contact .con-meth {
  text-align: center;
}
#contact .con-meth ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#contact .con-meth ul > li > a > i {
  background-color: #0097e2;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 15px;
}
#contact .con-meth ul > li > a:hover > i {
  background-color: #34495e;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
/*===========================================================
                    Footer Styles
===========================================================*/
footer {
  background-color: #34495e;
  margin-top: 25px;
}
footer #footer-bottom {
  color: #7795b4;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}
footer #footer-bottom p {
  font-size: 16px;
  margin: 0;
}
/*===========================================================
                    Responsive Styles
===========================================================*/
@media (max-width: 823px) {
  header.main-header {
    display: block;
    padding: 10px 0;
  }
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
    width: 60%;
  }
  #sidebar .sidebar-header {
    padding: 20px 5px;
  }
  #content {
    width: 100%;
  }
  #contant.active {
    width: calc(40%);
  }
}
