@media only screen and (max-device-width: 736px) {
  header {
    text-align: center;
  }
  header .logo {
    width: 100%;
  }
  header .logo img {
    display: block;
    margin: 0 auto 5px auto;
  }
  header .options {
    text-align: center;
  }
  header .menu {
    margin-top: 5px;
  }
  header .mega-menu ul {
    border-right: none;
    list-style-type: none;
    min-height: 100px;
  }
}
