@media only screen and (max-device-width: 736px) {
  header {
    text-align: center;
  }
  header .actions {
    text-align: left;
  }
  header .logo {
    width: 100%;
  }
  header .logo img {
    display: block;
    margin: 0 auto 5px auto;
  }
  header .menu {
    margin-top: 5px;
  }
}
